body{
  background-color: #2b2b2b;
}

.background-color{
  display: block;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
}

#splash > div > div > img{
  margin: 0 auto;
}

body > div:nth-child(3) > div > div:nth-child(2) > h2{
  text-align: center;
  color: #b57740;
}

body > div:nth-child(4) > div{
  margin-top: 2em;
}

#img-container img{
  width: 100%;
}
